.dropdown-content{
    display: none;
    position: absolute;
    right: 0px;
    top: 55px;
    min-width: 140px;
    z-index: 1;
    background-color: #fafafa;
    overflow: hidden;

    border: #dadada 1px solid;
    border-radius: 0.5rem;
  }

.dropdown-content li{
    list-style: none;
    line-height: 40px;
    height: 40px;
    font-size: small;
    /* font-weight: bold; */
}

.dropdown-content li:hover{
    background-color: #b8e7e0;
}

.dropdown-btn{
    height: 36px;
    margin-top: 12px;
}

.right-function:hover .dropdown-content{
    display: block;
}

.gap{
    border-bottom: #dadada 1px solid;
    font-weight: bold;
}