.top-bar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 4px rgb(194, 194, 194);
    z-index: 5;
}

.right-function{
    float: right;
    position: relative;
    height: 60px;
    width: 70px;
    border: none;
    text-align: center;
}

.right-function button{
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px rgba(0,0,0,0) inset;
    height: 60px;
    font-size: 14px;
}

.right-function button:hover{
    transition: 0.2s;
    border-bottom: 2px #747dfc inset;
    color: #747dfc;
}

.left-element{
    float: left;
}