<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.openlab.openpageapi.mapper.UserAccountMapper">
    <insert id="insert" parameterType="com.example.springboot.entity.UserAccount" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_account(username, password_hash)
        VALUES(#{username}, #{password_hash})
    </insert>

    <select id="findAll" resultType="com.example.springboot.entity.UserAccount">
        SELECT * FROM user_account
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM user_account WHERE id = #{id}
    </delete>

    <select id="findByUsername" resultType="com.example.springboot.entity.UserAccount">
        SELECT * FROM user_account WHERE username = #{username}
    </select>
</mapper>
