html{
    background: #ffffff;
}

*{
    padding: 0;
    margin: 0;
}

.left-function{
    float: right;
    height: 60px;
    width: 90px;
    border: none;
    text-align: center;
}

.left-function button{
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px rgba(0,0,0,0) inset;
    height: 60px;
    font-size: 14px;
}

.left-function button:hover{
    transition: 0.2s;
    border-bottom: 2px #20A0FF inset;
    color: #20A0FF;
}

.top-bar{
    position: sticky;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 4px rgb(194, 194, 194);
    z-index: 5;
}
